.input {
	border: none;
	background: none ; 
	font-size: 14px;
	font-weight: 600;
	border-bottom: solid 1px #2c2b2b; 
	width: 100%;
}

.input-title {
	outline: none; 
	font-size: 32px;
}
 
.invalid {
	border: 1px solid red;
	background: rgba(64, 8, 8, 0.799) ;
	}  